html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, pre {
    margin: 0;
    padding: 0;
}
html, body { min-height: 100%; }

.logo {
    background-image: url("../img/logo.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center left;
}

.logo:hover {
    background-size: 60%
}

/* lines appearing under the boxes */
.links {
    background-color: #123;
    background-image: linear-gradient(to bottom, #0003, transparent);
    border-bottom: 5px solid #0003;
    box-shadow: 0 0 32px #0003;
    font-size: 2em;
    font-weight: 300;
    display: inline-block;
    height: 80px;
    margin: 20px;
}
.links > a {
    color: #9ab;
    padding: .75em;
    text-align: center;
    text-decoration: none;
    transition: all .5s;
}

li{
    display: inline;
    margin: 25px auto;
    text-decoration-color: white;
}





/* The Magic */
head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.links {
    display: grid;
    grid-template-columns: repeat(var(--items), 1fr);
    position: relative;
}

.box {
    position: absolute;
    top: 23%;
    left: 50%;
}

input {
    position: relative;
    display: inline;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
    border: none;
    outline: none;
    padding: 0 20px;
    border-radius: 25px 0 0 25px;
    right: -50px;
}
input[type="text"]
{
    background: #fff;
    width: 340px;
    height: 40px;
}

input[type="submit"]
{
    position: relative;
    border-radius: 0 25px 25px 0;
    background-color: coral;
    height: 40px;

}

li{
    float: left;
    color: #f2f2f2;
    text-align: left;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 20px;
    margin: 6px;

}
