/* Reset styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles for the entire site */
body {
    font-size: 1.7rem;
    font-family: 'Lucida Console';
    background-image: linear-gradient(black, darkslateblue);
    color: #ececec;
    padding: 4rem;
    margin-top: 10%;
}
